.SecondSlide_title {
    margin-top: 164px;
    position: relative;
    margin-left: 50px;
    min-width: 1024px;
    min-height: 768px;
}
.SecondSlide_title__bg {
    left: 45%;
    max-width: 1024px;
    position: absolute;
    top: 0;
    animation: animation-bg 5s linear 0s infinite normal none;
}
.SecondSlide_title__header {
    padding-left: 58px;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.SecondSlide_title__text {
    background: #fff linear-gradient(to top, #b6b4b4 -15%, transparent 5%);
    border-radius: 44px;
    box-sizing: border-box;
    padding-top: 20px;
    margin-left: 50px;
    padding-left: 70px;
    font-size: 24px;
    width: 774px;
    height: 362px;
    overflow: auto;
    direction: rtl;
    text-align: left;
    position: relative;
}

.SecondSlide_title__text::-webkit-scrollbar {
    width: 20px;
}

.SecondSlide_title__text::-webkit-scrollbar-track-piece {
    background-color: black;
    border-radius: 50px;
    border: 4px solid transparent;
    background-clip: content-box;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}

.SecondSlide_title__text::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ed5690;
    background-size: 5px;
    box-shadow: inset  0 0 5px rgba(0,0,0,0.5);
}

@keyframes animation-bg {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
