.app-main-container {
    width: 1024px;
    height: 768px;
}
.main-window  {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.main-all-items {
    display: flex;
    height: 100%;
    transition: translate;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}
