.App {
    margin: 0 auto;
    min-width: 1024px;
    overflow: hidden;
    width: 100%;
    background-image: url("../../imgs/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: -1;

}

.header {
    padding-left: 65px;
    padding-top: 25px;
    display: flex;
    position: fixed;
}

.header_btn {
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.header_btn__img {
    height: 25px;
    width: 153px;
}

footer {
    z-index: 99;
    bottom: 10px;
    left: 66px;
    position: absolute;
}
